{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/national-parks/park-index.css' %}"/>
{% endblock %}

{% block content %}
<section class="page-header">
  <h1>National Parks</h1>
  <!-- <img src="{% static 'images/national-parks-banner.jpg' %}" alt="National Parks Banner" /> -->
</section>

<section class="card-container">
  <!-- <h2>Explore Our National Parks</h2> -->
  {% for park in parks %}
    <div class="card">
        <div class="card-content">
          <div class="card-img-container">
            <!-- <img src="{% static 'images/park-placeholder.jpg' %}" alt="{{ park.name }} National Park" /> -->
          </div>

          <h2 class="card-title">{{ park.name }}</h2>

          <p><strong>Location:</strong> {{ park.location }}</p>

          <p><strong>Description:</strong> {{ park.description | truncatechars:150 }}</small></p>  </div>

          <p><strong>Established Date:</strong> {{ park.established_date }}</p>

          <div class="park-actions">
            <a href="{% url 'park-update' park.id %}" class="btn warn">Edit</a>
            <a href="{% url 'park-delete' park.id %}" class="btn danger">Delete</a>
          </div>
        </div>

      </a>
    </div>
    
  {% endfor %}
</section>
{% endblock %}