{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/national-parks/park-index.css' %}"/>
{% endblock %}

{% block content %}
<section class="page-header">
  <h1>National Parks</h1>
  <!-- <img src="{% static 'images/national-parks-banner.jpg' %}" alt="National Parks Banner" /> -->
</section>

<section class="card-container">
  <!-- <h2>Explore Our National Parks</h2> -->
    <div class="card">
        <div class="card-content">
          <div class="card-img-container">
            <!-- <img src="{% static 'images/park-placeholder.jpg' %}" alt="{{ park.name }} National Park" /> -->
          </div>
          <h2 class="card-title">{{ park.name }}</h2>
          <p><strong>Location:</strong> {{ park.location }}</p>
          <p><strong>Description:</strong> {{ park.description | truncatechars:150 }}</small></p>  </div>
          <p><strong>Established Date:</strong> {{ park.established_date }}</p>

          <div class="park-actions">
            <a href="{% url 'park-update' park.id %}" class="btn warn">Edit</a>
            <a href="{% url 'park-delete' park.id %}" class="btn danger">Delete</a>
          </div>
        </div>
      </a>
    </div>
</section>

<!-- New index for 2nd model-->
<div class="trails-container">
  <section class="trails">
    <div class="subsection-title">
      <h2>Trails</h2>
    </div>

    <!-- Form for Adding a trail -->
<h3>Add a Trail</h3>
<form 
action="{% url 'add-trail' park.id %}"
method="post"
class="subsection-content" 
autocomplete="off"
>
  {% csrf_token %} 
  {{ trail_form.as_p }}
  <button type="submit" class="btn submit">Add Trail</button>
</form>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Difficulty</th>
        </tr>
      </thead>
      <tbody>
        {% for trail in park.trail_set.all %}
          <tr>
            <td>{{trail.name}}</td>
            <td>{{trail.get_difficulty_display}}</td>
            <!-- <a href="" class="btn warn">Edit</a>
            <a href="" class="btn danger">Delete</a> -->
            <td><a href="{% url 'trail-update' trail.id %}" > Edit </a></td>
            <td><a href="{% url 'trail-delete' trail.id %}" > Delete </a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

{% endblock %}


